@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/*Colors*/
/*Body*/
/*header*/
/*body*/
body {
  font-family: Lato;
  margin: 0;
  background-color: rgb(0, 0, 0);
  padding: 0;
}

/*header*/
.header {
  background-color: rgba(39, 38, 38, 0.5);
  padding: 1px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.header nav {
  display: flex;
  flex-direction: row;
  gap: 15em;
}
.header nav h1 {
  color: #ffffff;
  margin-left: 1em;
}
.header nav [class=header-ul] {
  display: flex;
  gap: 0.5rem;
}
.header nav [class=header-ul] .header-li {
  list-style: none;
  height: 27px;
  width: 99px;
  text-align: center;
}
.header .header-link:hover {
  color: rgb(0, 0, 0);
}
.header .header-link {
  text-decoration: none;
  font-weight: bold;
}

.header-link:hover {
  background-color: #ffffff;
  transition: 0.1s ease-in;
  border-radius: 10px;
  padding: 0.5em 1em;
}
.header-link:hover .header-link:active {
  color: rgb(255, 255, 255);
}
.header-link:hover .header-link:hover {
  color: rgb(0, 0, 0);
  transition: 0.1s ease-in;
}

.header-link:visited {
  color: #ffffff;
}

/*Section One*/
.section-1 {
  position: relative;
  top: 12em;
  z-index: 1;
}
.section-1 a {
  text-decoration: none;
}
.section-1 h2,
.section-1 p {
  text-align: center;
  color: #ffffff;
}
.section-1 .btn-1 {
  background-color: rgb(55, 130, 55);
}
.section-1 .btn-2 {
  background-color: #ffffff;
}
.section-1 .section-1-btn {
  width: auto;
  border: none;
  transform: translateX(36em);
  height: 43px;
  border-radius: 10px;
  font-family: inherit;
  font-weight: bold;
  border: 2px rgb(25, 25, 25) solid;
}
.section-1 .section-1-btn a {
  padding: 0px 20px;
}
.section-1 .div-1 {
  display: flex;
  flex-direction: row;
  gap: 17px;
}
.section-1 .arrow-down {
  margin-left: 39.5em;
}
.section-1 .arrow-down img {
  margin-top: 3em;
  width: 25px;
  animation: moving-arrow 1s infinite;
}

.btn-2:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn-1:hover {
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

.btn-1 a:visited,
.btn-2 a:visited {
  color: rgb(52, 49, 49);
}

@keyframes moving-arrow {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(10px);
  }
}
/*Section Two*/
.section-2 {
  color: #ffffff;
  text-align: center;
  margin-top: 24rem;
}
.section-2 h3 {
  font-size: 3em;
}
.section-2 p {
  font-size: 1.2rem;
  margin-bottom: 100px;
}
.section-2 .main-div-1 {
  display: flex;
  flex-direction: row;
  gap: 102px;
  margin-bottom: 10px;
}
.section-2 .main-div-2 {
  display: flex;
  flex-direction: row;
  gap: 102px;
  margin-bottom: 100px;
}

.main-div-1,
.main-div-2 {
  justify-content: center;
}

.main-div-1 [class=one],
.main-div-2 [class=two],
.main-div-1 [class=two],
.main-div-2 [class=one] {
  width: 25em;
  height: 35em;
  border-radius: 20px;
  border: 1px rgb(110, 109, 109) solid;
  box-shadow: 6px 6px 6px 1px rgba(183, 189, 183, 0.283);
  margin-bottom: 12px;
}

.main-div-1 .img-one,
.main-div-1 .img-two,
.main-div-2 .img-one,
.main-div-2 .img-two {
  background-repeat: no-repeat;
  height: 60%;
  width: auto;
  background-size: cover;
  margin-top: 2em;
}

.main-div-1 .img-one {
  background-image: url(../assets/images/Screenshot\ 2025-09-12\ 223224.png);
}

.main-div-1 .img-two {
  background-image: url(../assets/images/Screenshot\ 2025-09-12\ 224542.png);
}

.main-div-2 .img-one {
  background-image: url(../assets/images/2-o.jpg);
}

.main-div-2 .img-two {
  background-image: url(../assets/images/2-o.jpg);
}

.third-tools {
  margin-left: 0.5em;
}

.third-tools,
.last-tool,
.first-tools,
.second-tools {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 10px;
  transform: translateX(-4%);
}

.main-div-2 h4,
.main-div-1 h4 {
  font-size: 20px;
}

.one .third-desc {
  padding: 1px;
  margin: 1px 0;
  font-size: 13px;
}

.one .first-desc {
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 13px;
}

.two .second-desc {
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 13px;
}

.last-tool .my-tools,
.third-tools .third-my-tools,
.first-tools .first-my-tools,
.second-tools .second-my-tools {
  font-size: 8px;
  background-color: rgb(240, 233, 233);
  font-weight: bold;
  list-style: none;
  color: rgba(0, 0, 0, 0.8235294118);
  border-radius: 5px;
  padding: 5px;
}

.last-tool h4 {
  font-size: 20px;
  width: 100%;
}

.main-2-h4-two,
.main-2-h4-one,
.main-1-h4-two,
.main-1-h4-one {
  margin-right: 7em;
}

.first-desc,
.second-desc,
.third-desc,
.last-p {
  margin-right: 14em;
}

.two .last-p {
  padding: 1px;
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: 13px;
}

/*Section three*/
.section-3 {
  background-color: rgb(19, 19, 19);
  margin-bottom: 100px;
  margin-top: 15em;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 200px;
}
.section-3 .section-3-h5 {
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 1px;
  padding-top: 40px;
}
.section-3 .section-3-p {
  color: #ffffff;
  font-size: 1.2em;
  text-align: center;
  padding-bottom: 5em;
}
.section-3 .class-skill-one {
  padding-left: 100px;
  color: #ffffff;
  float: left;
  margin-right: 290px;
}
.section-3 .skill-one {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.section-3 .class-skill-one .new {
  margin-left: 5em;
  font-size: 1em;
}
.section-3 [class=skill-three] {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  gap: 50px;
  margin-bottom: 100px;
}
.section-3 [class=skill-one-one] {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  gap: 50px;
}
.section-3 [class=percent] {
  font-size: 0.6em;
}
.section-3 [class=my-icon] {
  font-size: 10px;
}
.section-3 .calculate,
.section-3 .calculate-2 {
  background-color: rgb(148, 197, 157);
  height: 7px;
  width: 19em;
  border-radius: 10px;
  position: relative;
  top: 50px;
  right: 21em;
  margin-bottom: 100px;
}
.section-3 .calculate div,
.section-3 .calculate-2 div {
  background-color: green;
  height: 7px;
  width: 17.25em;
  border-radius: 10px;
}
.section-3 .calculate {
  margin-top: 20px;
}
.section-3 .icon {
  width: 30px;
  height: 30px;
}
.section-3 .frontend {
  position: relative;
  top: 13px;
  right: 1.5em;
}
.section-3 h6 {
  font-size: 12px;
}
.section-3 .fe {
  position: relative;
  right: 3em;
  bottom: 0.5em;
}
.section-3 .fe-percent {
  font-size: 10px;
  position: relative;
  left: 1.5em;
  top: 1em;
}
.section-3 .be-percent {
  position: relative;
  left: 2em;
  font-size: 10px;
}
.section-3 .be {
  position: relative;
  bottom: 1.5em;
  right: 3em;
}
.section-3 .backend {
  position: relative;
  right: 1.5em;
}
.section-3 .cf,
.section-3 .hack {
  position: relative;
  bottom: 1.6em;
  right: 2em;
}
.section-3 .cf-cal {
  position: relative;
  left: -18.5em;
}
.section-3 .cf-icon {
  position: relative;
  right: 1em;
}
.section-3 .cf-percent {
  font-size: 10px;
  position: relative;
  left: 5.5em;
}
.section-3 .h-icon {
  position: relative;
  right: 1em;
}
.section-3 .h-cal {
  position: relative;
  right: 16em;
}
.section-3 .h-percent {
  font-size: 10px;
  position: relative;
  left: 9.5em;
}
.section-3 .software-dev {
  position: relative;
  right: 1em;
}
.section-3 .ip-icon {
  position: relative;
  right: 21.5em;
  bottom: -1.5em;
}
.section-3 .ip-man {
  position: relative;
  right: 17em;
}
.section-3 .networking {
  font-size: 1em;
  color: #ffffff;
  position: relative;
  right: 7em;
}
.section-3 .ip-skill {
  display: flex;
  flex-direction: row;
  color: #ffffff;
}
.section-3 .ip-net {
  position: relative;
  right: 16em;
  bottom: 0.5em;
}
.section-3 .ip-per-net {
  position: relative;
  right: 5em;
  top: 1.5em;
  font-size: 11px;
}
.section-3 .ip-net-holder {
  height: 7px;
  width: 19em;
  position: relative;
  right: 22em;
  bottom: -4.5em;
}
.section-3 .net-dev-white,
.section-3 .ip-net-white,
.section-3 .server-man-white,
.section-3 .server-virtual-white {
  background-color: rgb(148, 197, 157);
  height: 7px;
  width: 19em;
  border-radius: 10px;
}
.section-3 [class=ip-net-green],
.section-3 .net-dev-green,
.section-3 .server-man-green,
.section-3 .server-virtual-green {
  background-color: green;
  width: 17.25em;
  height: 7px;
  border-radius: 10px;
}
.section-3 .network-dev-skill {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin-top: 10px;
}
.section-3 .network-dev-icon {
  position: relative;
  right: 21.5em;
  top: 5em;
}
.section-3 .network-dev {
  position: relative;
  right: 16em;
  top: 2.3em;
}
.section-3 .network-per {
  font-size: 10px;
  position: relative;
  right: 8.5em;
  top: 4.6em;
}
.section-3 .net-dev-holder {
  position: relative;
  right: 24em;
  top: 6.5em;
}
.section-3 .sys-eng {
  font-size: 1em;
  color: #ffffff;
  position: relative;
  right: 9em;
  top: 5em;
}
.section-3 .server-skill {
  display: flex;
  flex-direction: row;
  color: #ffffff;
}
.section-3 .server-man-icon {
  position: relative;
  right: 21.5em;
  top: 8em;
}
.section-3 .server-man {
  position: relative;
  right: 15.7em;
  top: 5em;
}
.section-3 .ser-man-percent {
  font-size: 10px;
  position: relative;
  right: 7.5em;
  top: 7.6em;
}
.section-3 .server-man-holder {
  position: relative;
  right: 23.4em;
  top: 8.5em;
}
.section-3 .server-virtual-skill {
  display: flex;
  flex-direction: row;
  color: #ffffff;
}
.section-3 .server-virtual-icon {
  position: relative;
  right: 21.5em;
  top: 12.5em;
}
.section-3 .server-virtual {
  position: relative;
  right: 15.7em;
  top: 8.5em;
}
.section-3 .server-virtual-percent {
  font-size: 10px;
  position: relative;
  right: 7.4em;
  top: 11.6em;
}
.section-3 .server-virtual-holder {
  position: relative;
  right: 23.4em;
  top: 11em;
}

/*Section 4*/
.section-4 {
  padding-bottom: 12em;
}
.section-4 .frontend-header,
.section-4 .backend-header {
  margin-left: 4.5em;
  color: #ffffff;
}
.section-4 #tools {
  color: #ffffff;
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 2em;
}
.section-4 .software-dev-tools,
.section-4 .cyber-security-tools {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.section-4 .frontend-tools,
.section-4 .backend-tools {
  color: rgba(0, 0, 0, 0.8235294118);
  background-color: rgba(24, 23, 23, 0.918);
  width: 32em;
  height: 7em;
  border-radius: 10px;
  border: 1px white solid;
}
.section-4 .front-end-ul,
.section-4 .back-end-ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 1em;
  margin-left: 1em;
  margin-top: 1.5em;
}
.section-4 .front-end-ul li,
.section-4 .back-end-ul li {
  font-size: 0.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 7px;
  padding: 0.7em;
  font-weight: bold;
}

/*Section Five*/
.section-5 {
  color: #ffffff;
  padding-bottom: 10em;
}
.section-5 #about {
  padding-bottom: 1em;
  font-size: 2.5em;
  text-align: center;
}
.section-5 .section-5-div {
  width: 70em;
  margin-left: auto;
  margin-right: auto;
}
.section-5 .image-holder {
  background-color: #1a1a1a; /* fallback to a dark gray color */
  margin-left: auto;
  border: 1px #ffffff solid;
  width: 60em;
  height: 30em;
  border-radius: 10px;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  margin-top: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.section-5 .image-holder img {
  max-width: 100%;
  max-height: 90%;
  height: auto;
  display: block;
  margin: auto;
  border-radius: 8px;
}
.section-5 .circle {
  background-color: rgba(243, 249, 243, 0.306);
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: relative;
  top: 7em;
  left: 8em;
}

.section-6 {
  color: #ffffff;
  margin-bottom: 10em;
}
.section-6 .contact {
  text-align: center;
}
.section-6 .contact-p {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 3em;
}
.section-6 h2 {
  margin-left: 4.5em;
  margin-bottom: 2em;
}
.section-6 .in-touch {
  display: flex;
  flex-direction: column;
  gap: 1em;
  position: relative;
  margin-left: 9em;
}
.section-6 .in-touch-icon {
  background-color: rgb(0, 0, 0);
  border: 1px #ffffff solid;
  height: 3.5em;
  width: 3.5em;
  float: left;
  border-radius: 100%;
  margin-right: 1em;
}
.section-6 a {
  text-decoration: none;
  color: rgb(109, 45, 45);
}
.section-6 .in-touch-details p {
  position: relative;
  bottom: 0.5em;
}
.section-6 .in-touch-details a,
.section-6 .in-touch-details .class {
  position: relative;
  bottom: 1em;
}
.section-6 .resume {
  display: flex;
  flex-direction: row;
  gap: 1em;
  position: relative;
  margin-left: 9.5em;
  background-color: rgba(0, 0, 0, 0.8235294118);
  width: 12em;
  height: 3em;
  padding: 0.3em 0.56em 0 0.56em;
  border-radius: 1em;
  border: 1px solid #ffffff;
}
.section-6 .resume a {
  position: relative;
  top: 0.5em;
}
.section-6 .fa-regular,
.section-6 .fa-brands,
.section-6 .fa-solid {
  position: relative;
  top: 0.8em;
  left: 0.5em;
}

/*Section Seven*/
.section-7 {
  padding: 1.5em 0;
  background-color: rgba(0, 0, 0, 0.8235294118);
  color: #ffffff;
}
.section-7 h1 {
  text-align: center;
}
.section-7 legend {
  font-weight: bold;
}
.section-7 form {
  background: none;
  display: flex;
  flex-direction: column;
  width: 76%;
  margin: 0 auto;
  border: 1px solid #ffffff;
  border-radius: 0.8em;
  padding: 2em 5em 2em 8em;
}
.section-7 fieldset {
  border: none;
}
.section-7 .your-name,
.section-7 .email-input {
  width: 30em;
  height: 1em;
  border-radius: 0.8em;
  background: none;
}
.section-7 .send-message,
.section-7 .subject {
  border-radius: 0.8em;
  width: 63.5em;
}
.section-7 button {
  width: 65.5em;
  border-radius: 0.8em;
  height: 3em;
  border: none;
  cursor: pointer;
}
.section-7 button:hover {
  background-color: rgba(0, 0, 0, 0.8235294118);
  color: #ffffff;
  border: 0.3px solid #ffffff;
  transition: 0.3s ease-in;
}
.section-7 .some-input {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.section-7 input,
.section-7 textarea {
  border: none;
  outline: none;
  margin: 0.5em 0;
  padding: 1em;
  background: none;
}
.section-7 textarea {
  height: 10em;
}
.section-7 input:focus,
.section-7 textarea:focus {
  border: 0.5px #ffffff solid;
  color: rgb(0, 0, 0);
}
.section-7 input::-moz-placeholder, .section-7 textarea::-moz-placeholder {
  color: #ffffff;
}
.section-7 input::placeholder,
.section-7 textarea::placeholder {
  color: #ffffff;
}
.section-7 textarea {
  resize: none;
}
.section-7 input:not(:-moz-placeholder) {
  background-color: #f0fff0;
}
.section-7 input:not(:placeholder-shown) {
  background-color: #f0fff0;
}
.section-7 textarea:not(:-moz-placeholder) {
  background-color: #f0fff0;
}
.section-7 textarea:not(:placeholder-shown) {
  background-color: #f0fff0;
}/*# sourceMappingURL=myPortfolio.css.map */